@import '../../styles/vars.scss';

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
}

.product {
    display: flex;
    justify-content: top;
    flex-direction: column;
    text-align: left;
    gap: 10px;
    padding: 20px 30px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.img {
    min-height: 100px;
    background-color: gray;
    max-width: 100%;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex: 1 1 auto;
}

.product:hover div *{
    transition: all 0.3s;
    color: $bgAll;
}

@media (max-width: 1200px) {
    .list {
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
    .product {
        padding: 5px 10px;
        text-align: center;
    }
}

@media (max-width: 720px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 500px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}