.auth {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    position: absolute;
    height: max-content;
    right: 0;
    left: 0;
    top: 30%;
    bottom: 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
}

.form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

@media (max-width: 500px) {
    .auth {
        margin: 0 10px;
        padding: 10px 20px;
    }
}
