.auth {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    gap: 20px;
}

.form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}