@import '../../../styles/vars.scss';

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: white;
}

.product {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

    &:hover {
        div * {
            transition: all 0.3s;
            color: $bgAll;
        }
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img {
    max-width: 100%;
}

.name {
    color: black;
}

.trash {
    width: 22px;
    height: 22px;
    max-width: 100%;
    cursor: pointer;
}