* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

.app {
    max-width: 1200px;
    margin: 0 auto;
}

hr {
    width: 100vw;
    position: absolute;
    left: 0;
}