@import './variables.scss';

.basket {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 5px;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    &>.left {
        color: #5B5B5B;
    }

    &>.right {
        font-weight: bold;
    }
}

.bottom {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .bottom {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}