.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__item {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 10px;

    &>img {
        max-width: 100%;
    }
}

.attribute__item {
    display: flex;
}

.product__attributes {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product__bottom {
    display: flex;
    justify-content: space-between;
}

.product__price {
    font-size: 20px;
    font-weight: bold;
}

.product__basket {
    font-size: 25px;
    cursor: pointer;
    padding: 10px 20px;
    background-color:  #10C44C;
    border: 0;
    border-radius: 10px;
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}