@import './variables.scss';

.product {
    display: grid;
    gap: 10px;
    grid-template-columns: max-content 1fr;

    &>img {
        max-width: 100%;
    }
    
    &>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div {
        font-size: 20px;
        font-weight: bold;
    }
}

.attributes {
    display: flex;
    flex-direction: column;
}

.attribute {
    display: grid;
}

@media (max-width: 1200px) {
    .product {
        display: grid;
        grid-template-columns: 1fr;

        &>div {
            gap: 10px;
        }
    }
}