@import './vars.scss';

.product {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: max-content 1fr;

    &>img {
        max-width: 100%;
        margin: 0 auto;
    }
    
    &>div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.top {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>div {
        font-size: 20px;
        font-weight: bold;
    }
}

.attributes {
    display: flex;
    flex-direction: column;

    &> div {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 10px;
    }
}

.right {
    border-left: 1px solid black ;
    padding-left: 5px;
}

@media (max-width: 900px) {
    .product {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;

        &>div {
            gap: 10px;
        }
    }
    .top {
        gap: 10px;
    }
}