@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
}

.app {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.auth {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: c;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    
    &>form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }
}

@media (max-width:1200px) {
    .app {
        padding: 0 10px;
    }
}