@import '../../../styles/variables.scss';

.button {
    font-size: 16px;
    cursor: pointer;
    padding: 10px 30px;
    background-color: $color;
    border: 0;
    border-radius: 10px;
    max-width: max-content;
}

@media (max-width: 1200px) {
    .button {
        padding: 10px 20px;
        font-size: 14px;
    }
}