@import '../../../styles/vars.scss';

.button {
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    max-width: max-content;
    background-color: white;
    border: 1px solid $bgAll;
    border-radius: 5px;
}

@media (max-width: 1200px) {
    .button {
        padding: 5px 10px;
        font-size: 14px;
    }
}