@import '../../styles/vars.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px 10px;
    gap: 10px;
}

.list {
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #ffffff;
    border: 0;
    font-size: 14px;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
}

.active {
    background-color: $bgAll;
}


@media (max-width: 1200px) {
    .sidebar {
        display: none;
    }
}