.products {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 5px;
}

.content {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1px;
    background-color: rgb(177, 177, 177);
}

.top {
    display: flex;
    justify-content: space-between;

    & > button {
        display: none;
    }
}

.right {
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: rgb(177, 177, 177);
}

@media (max-width: 1200px) {
    .content {
        grid-template-columns: 1fr;
    }

    .top > button {
        display: block;
    }
}
