.title {
    font-size: 40px;
    color: black;
    text-decoration: none;

    &> * {
        color: black;
        text-decoration: none;
    }
}

@media (max-width: 720px) {
    .title {
        font-size: 25px;
    }
}